<!-- ## Create template: -->
<!-- templates/base.html -->
<!-- mini_fb/templates/mini_fb/base.html -->
{% load static %}
<html>
    <head>
        <title>Mini_FB</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>
        <header>
            <h1>Mini FaceBook</h1>
        </header>
        <a href="https://kevintan-quotes-cb624d5f3017.herokuapp.com/">Link to the mini facebook page</a>
        {% block content %}
        {% endblock %}    
  
    </body>
</html>