<!-- ## Create template: -->
<!-- templates/base.html -->
<!-- mini_fb/templates/mini_fb/base.html -->
{% load static %}
<html>
    <head>
        <title>Mini_FB</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>
        <header>
            <h1>Mini FaceBook</h1>
        </header>
        <div class="button">
            <a href="{% url 'show_all_profiles' %}" class="button">Link to the mini facebook page</a><br>
        </div>
        <div class="button">
            <a href="{% url 'create_profile' %}" class="button">Create New Profile</a>
        </div>
        {% if user.is_authenticated %}
            <p>Logged in as {{ user.username }}</p>
                {% csrf_token %}
                <a href="{% url 'show_profile' user.profile.pk %}" class="button">Profile Page</a>
                </br>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Logout" class="button">
                </form>
        {% else %}
            <div class="button">
                <a href="{% url 'login' %}" class="button">Login</a>
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}    
  
    </body>
</html>