<!-- mini_fb/templates/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
  <div class="profile-container">
    <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
    <div class="profile-image">
      <img src="{{ profile.image_url }}" alt="{{ profile.first_name }}'s profile picture">
    </div>
    <p><strong>City:</strong> {{ profile.city }}</p>
    <p><strong>Email:</strong> <a href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>
  </div>

  <div class="status-container">
    <h2>{{ profile.first_name }}'s Status Messages</h2>
    <ul>
        <a href="{% url 'create_status' profile.pk %}">Create Status</a>
        <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
        {% for status in profile.get_status_messages %}
        <li>
            <p><strong>{{ status.message }}</strong></p>
            <p><strong>{{ status.timestamp }}</strong></p>
            {% for img in status.get_images %}
            <div class="status-message">
              <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
            </div>
            {% endfor %}
            <a href="{% url 'delete_status' status.pk %}">Delete</a>
            <a href="{% url 'update_status' status.pk %}">Update</a>
        </li>
        <hr>
        {% empty %}
        <p>This user has no status messages.</p>
        {% endfor %}
    </ul>
  </div>
  <a href="{% url 'show_all_profiles' %}">Back to All Profiles</a>
{% endblock %}
