<!-- quotes/templates/quotes/about.html -->

<!-- Extends the base -->
{% extends 'base.html' %}

<!-- Title -->
{% block title %}About{% endblock %}


<!-- Content -->
{% block content %}
    <h1>Steve Jobs</h1>
    <img src="{{one_image}}" alt="Image">
    <p>Steve Jobs was a charismatic pioneer of the personal computer era. With Steve Wozniak, Jobs founded Apple Inc. in 1976 and transformed the company into a world leader in telecommunications. 
        Widely considered a visionary and a genius, he oversaw the launch of such revolutionary products as the iPod and the iPhone.</p>
    <br>
    <h4>
        App Created by: Kevin Tan
    </h3>
{% endblock %}