<!-- quotes/templates/quotes/show_all.html -->

<!-- Extends the base -->
{% extends 'quotes/base.html' %}

<!-- Title -->
{% block title %}All Quotes{% endblock %}

<!-- Content -->
{% block content %}
    <h1>All Quotes</h1>
    <ul>
        <!-- For loops in Django: https://www.geeksforgeeks.org/for-loop-django-template-tags/ -->
        {% for i in all_quotes %}
            <p>{{i}}</p>
        {% endfor %}
    </ul>
    <br>
    <h1>
        <ul>
            <!-- For loops in Django: https://www.geeksforgeeks.org/for-loop-django-template-tags/ -->
            {% for i in all_images %}
                <img src="{{i}}" alt="Image"><br>
            {% endfor %}
        </ul>
    </h1>
{% endblock %}