<!-- templates/flights/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flight App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'flightStyles.css' %}">
</head>
<body>
    <div class="background-image"><img
        src = "https://c4.wallpaperflare.com/wallpaper/682/248/50/sky-airplane-airline-airbus-wallpaper-preview.jpg"
        alt = "Background Image"
        class = "background-image"></div>
        <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{% url 'all_flights' %}" class="nav-link">Home</a>
        </div>
        <div class="navbar-center">
            {% if user.is_authenticated %}
                <span class="nav-text">Welcome, {{ user.username }}!</span>
            {% endif %}
        </div>
        <div class="navbar-right">
            {% if user.is_authenticated %}
                <div class="nav-links">
                    <a href="{% url 'airport_list' %}" class="nav-link">View All Airports</a>
                    <a href="#" class="nav-link" onclick="document.getElementById('logout-form').submit();">Logout</a>
                    <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: none;">
                        {% csrf_token %}
                    </form>
                </div>
            {% else %}
            <a href="{% url 'login' %}" class="nav-link">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="content-container">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <div class="navbar-end">
            <p>&copy; Kevin Tan Flight App</p>
        </div>
    </footer>
</body>
</html>

